<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WatchActivity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="header">
    <h1 class="header-title">WatchActivity</h1>
  </div>
  <div class="main">
    {% block content %}

    {% endblock %}
  </div>
  <div class="footer">
    <a href="https://discord.com/api/oauth2/authorize?client_id=784991533052592139&permissions=0&scope=bot"
      target="_blank" rel="noopener noreferrer">Activityの監視にはサーバーにbotを追加する必要があります<br>
      クリックしてbotを追加
    </a>
  </div>
</body>

</html>
